<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
	<p class="navbar-text">Created with <a href="http://rubyonrails.org/">Rails</a>, <a href="http://designmodo.github.io/Flat-UI/">FlatUI</a> and tender love.</p>
      </li>
    </ul>
  </div>
</nav>
