.login-screen {
  background-color: #D73A36;
  color: #FFFFFF
  min-height: 473px;
  padding: 123px 199px 33px 306px;
  background-color: #1abc9c;
}

.btn-primary {
  background-color: #8B9191;
}

.btn-primary.hover, .btn-primary:hover {
  background-color: #8B9191;
}

