body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #E74C3C;
}

.btn-primary {
  background-color: #95A5A6;
}

.btn-primary:hover,.btn-primary:focus {
  background-color: #E74C3C;
}

.login {
  background: #E74C3C;
  background-size: 940px 778px;
  color: #FFFFFF;
  margin-bottom: 77px;
  padding: 38px 38px 267px;
  position: relative;
}

.login-link:hover,.login-link:focus{
  color: #E74C3C;
}

.login-form {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;
  min-width: 559px;

  .login-field {
    border-color: transparent;
    font-size: 17px;
    text-indent: 3px;
    
    &:focus {
      border-color: #E74C3C;
      
      & + .login-field-icon {
        color: #E74C3C;
      }
    }
  }
}

.login-screen {
  background-color: #E74C3C;
  color: #FFFFFF;
  min-height: 473px;
  padding: 123px 199px 33px 306px;
}

.icon-checked:before,.icon-checked:before {
    font-family: Flat-UI-Pro-Icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    speak: none;
    color: #E74C3C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
