<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">MPC</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li><a href="/">My Collection</a></li>
      <li><a href="/pokemon/new">Add Pok&eacute;mon</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
	<span class="dropdown-arrow"></span>
	<ul class="dropdown-menu">
	  <li><a href="#">My Profile</a></li>
	  <li><%= link_to('Logout', destroy_user_session_path) %></li>
	</ul>
      </li>
    </ul>
  </div>
  </div>
</nav><!-- /navbar -->
